<% if user_signed_in? %>
    <span>Welcome, <%= current_user.email %></span>
    <%= link_to 'Exit', destroy_user_session_path, :method => :delete %><br>
<% else %>
    <%= link_to 'Enter', new_user_session_path %> or <%= link_to 'Register', new_user_registration_path %>
<% end %>

<% if user_signed_in? %>
    <p>
      <strong>Author:</strong>
      <%= @post.author %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= @post.text %>
    </p>

    <h2>Comments</h2>
    <%= render @post.comments %>

    <h2>Add a comment:</h2>
    <%= render "comments/form" %>

    <%= link_to 'Edit Post', edit_post_path(@post) %> |
    <%= link_to 'Back to Posts', posts_path %>

<% else %>
    <p>
      <strong>Author:</strong>
      <%= @post.author %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= @post.text %>
    </p>

    <h2>Comments</h2>
    <%= render @post.comments %>

    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
    <%= link_to 'Back to Posts', posts_path %>
<% end %>